/ImageUploader.Data/bin/*
/ImageUploader.Data/obj/*
/ImageUploader.Foundation/bin/*
/ImageUploader.Foundation/obj/*
/ImageUploader.Business/bin/*
/ImageUploader.Business/obj/*
/ImageUploader.Web/bin/*
/ImageUploader.Web/obj/*
/Tests.ImageUploader.Business/bin/*
/Tests.ImageUploader.Business/obj/*
/Tests.ImageUploader.Web/bin/*
/Tests.ImageUploader.Web/obj/*
