<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="imageStorageLocation" value="C:\Users\00082499\Documents\Projects\OnGoing\ImageUploader/images/" />
  </appSettings>
  <connectionStrings>
    <add name="imageDB" connectionString="Data Source=C:\Users\00082499\Documents\Projects\OnGoing\ImageUploader\ImageUploader.Web\imageDB.sdf;Persist Security Info=False;"/>
  </connectionStrings>
</configuration>