<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="imageStorageLocation" value="../../data/images/" />
  </appSettings>
  <connectionStrings>
    <add name="imageDB" connectionString="Data Source=../../data/imageDB.sdf;Persist Security Info=False;"/>
  </connectionStrings>
</configuration>